#main {
    height: 100%;
    width: 100%;
    position: absolute;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

#inputs {
    width: 21rem;
    height: 30rem;
    box-shadow: 2px 2px 2px coral;
    margin: 5% auto;
    border-radius: 2rem;
    background-color: #12475f;
    position: relative;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
}

input {
    font-weight: bolder;
    background-color: 0,0,0,0.8;
    border: none;
    margin: 5px;
    padding: 5px;
    box-shadow: 3px 3px 5px white;
    border-radius: 9px;
    text-align: center;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
